</br>
<% if user_signed_in? %>
welcome <h3 style="color: green"><%= current_user.email %></h3></br>
 <%= @mes %>
<% else %>
<%= image_tag "land.png", class: "land-image" %>
<div class="message col-md-12"> Rangotra sy Fantsy </div>
<div class="history-t col-md-6">the history</div>
<script type="text/javascript">
	 $(document).ready(function(){
       $(".message").hover(function(){
       	  $(this).addClass("add-height"); 
       	    $(".history-t").remove(); 
       });

      });
</script>
<% end %>